@CHARSET "ISO-8859-1";

* { font-family: 'Arial'; font-size: 10px; color: #454570; margin: 0px; padding: 0px; }
h1 { font-family: 'Arial'; font-size: 14px; font-weight: bold; color: #454570; margin: 0px; padding: 0px; }
h2 { font-family: 'Arial'; font-size: 12px; font-weight: bold; color: #454570; margin: 0px; padding: 0px; }
html { overflow-x:hidden; }
table { border: 0px; cellspacing: 0px; cellpadding: 0px; text-align: left; }
input, select { border: solid 1px #e5e5f0; padding: 0; margin: 0; width: 125px; font: '11px Arial'; font-color: #454570; }

#menuBar { background-image: url('../images/menuBar/bg.png'); background-repeat: repeat-x; height: 32px; width: 400px; }
#loginButton { width: 60px; }

.ajaxSpinner { width: 24px; height: 24px; float: left; visibility: collapse; background-image: url('../images/ajax-spinner.gif'); background-size: 24px 24px; }

.menuBarChild { height: 0px; visibility: collapse; }
.button:hover { cursor: pointer; }

#loginForm { float: right; }
#currentSession { float: right; }
#helpAndTroubleReport { float: left; visibility: visible; }

.disabled { color: #808080; background-color: rgba(230,230,230,0.7); }
.disabled:hover { cursor: default; }

.centeredPopup { 
	position: absolute; 
	width: 380px; margin-left: -190px; 
	max-height: 400px; margin-top: -100px;
	left: 50%; 
	top: 50%; 
	z-index: 1; 
	background-color: rgba(255,255,255,0.7);
	overflow: auto;
	padding: 5px;
	text-align: center;
	visibility: collapse;
}

.centeredPopup *{ 
	margin: 0 auto;
}

#error {
	z-index: 100;
	background-color: rgba(255,130,130,0.5);
}

.formError {
	border-color: rgba(255,0,0,1.0);
}

.formFeedback {
	width: 130px;
}

.formErrorFeedback {
	background-color: rgba(255,0,0,0.2);
	color: rgba(255,0,0,1.0);
}

.createTroubleReportTextArea {
	width: 220px;
	height: 100px;
}